<h1 matDialogTitle>Modifier les informations de la salle</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <mat-stepper>
    <form [formGroup]="EditForm">
      <mat-step label="Enregistrement" align="end">
        <mat-form-field style="margin-top: 1rem" appearance="outline">
          <mat-label>Nom de la salle</mat-label>
          <input
            maxlength="20"
            type="text"
            formControlName="brandName"
            matInput
          />
        </mat-form-field>
        <div class="equipement" formArrayName="equipement">
          <h3 style="text-align: left">Equipement</h3>
          @for (item of EditForm.controls.equipement.controls; track $index) {
          <div style="display: flex; gap: 1rem">
            <mat-form-field appearance="outline">
              <mat-label>Equipement</mat-label>
              <input
                maxlength="20"
                [formControlName]="$index"
                type="text"
                matInput
              />
            </mat-form-field>
            @if($index !== 0){
            <button
              type="button"
              mat-icon-button
              (click)="remove('eq', $index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
          }
          <button
            type="button"
            style="margin-bottom: 1rem"
            mat-button
            (click)="add('equpe')"
          >
            <mat-icon>add_circle_outline</mat-icon> Equipement
          </button>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Prix</mat-label>
          <input maxlength="12" type="text" formControlName="price" matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" style="height: 120px">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput> </textarea>
        </mat-form-field>
        <div class="employee" formArrayName="employee">
          <h3 style="text-align: left">Employée</h3>
          @for (item of EditForm.controls.employee.controls; track $index) {
          <div style="display: flex; gap: 1rem">
            <mat-form-field appearance="outline">
              <mat-label>Adresse mail de l'employée</mat-label>
              <input
                maxlength="20"
                [formControlName]="$index"
                type="text"
                matInput
              />
            </mat-form-field>
            @if($index !== 0){
            <button
              type="button"
              mat-icon-button
              (click)="remove('em', $index)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
          }

          <button
            type="button"
            style="margin-bottom: 1rem"
            mat-button
            (click)="add('em')"
          >
            <mat-icon>add_circle_outline</mat-icon> Employée
          </button>
        </div>
        <mat-divider></mat-divider>
        <button
          type="button"
          style="width: 100%; margin-top: 1rem"
          mat-flat-button
        >
          Suivant
        </button>
      </mat-step>
      <mat-step label="Image">
        <div
          style="
            width: 100%;
            background-color: red;
            margin-top: 1rem;
            height: 20rem;
          "
        >
          <img
            style="width: 100%; height: 100%; object-fit: cover"
            #image
            src="assets/Snapchat-10495370.jpg"
          />
        </div>

        <div
          style="display: flex; width: 100%; flex-direction: column"
          formArrayName="image"
        >
          @for(item of EditForm.controls.image.controls; track $index){
          <div style="display: flex; gap: 1rem; margin: 0.5rem auto">
            <input
              type="file"
              hidden
              [formControlName]="$index"
              #img
              accept=".png,.jpg,.jpeg"
            />
            <button
              style="width: 100%"
              mat-button
              type="button"
              (click)="img.click()"
            >
              {{
                EditForm.controls.image.controls[$index].getRawValue()
                  ? EditForm.controls.image.controls[$index].getRawValue()
                  : "Ajouter une image"
              }}
            </button>
            @if($index !== 0){
            <button type="button" mat-icon-button (click)="removeImg($index)">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </div>
          }
        </div>

        <button
          (click)="addImg()"
          style="margin: 1rem auto; margin-left: 20rem"
          type="button"
          mat-button
        >
          image
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </mat-step>
    </form>
  </mat-stepper>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-button matDialogClose>Annuler</button>
  <button mat-flat-button [disabled]="EditForm.invalid">Modifier</button>
</mat-dialog-actions>
